@import "general"
//
//
@mixin layout
  @if $debug == true
    box-shadow: inset 0 0 1px $debugred
    transition: 0.2s

@mixin center
  margin: auto
  float: none !important

body
  padding: 0
  margin: 0

.center
  margin: 0 auto
  float: none !important

.left
  float: left !important
  text-align: left !important

.right
  float: right !important

.nofloat
  float: none !important

//
//Create column

//customized column

@for $hei from 1 through 50
  .col-#{$hei}
    @include layout
    height: $hei * $base
    float: left
.col-a
  float: left
  @include layout
  min-height: $base
  height: auto
//full width column

@for $hei from 1 through 20
  .col-f-#{$hei}
    @include layout
    width: 100%
    height: $hei * $base
    float: left

//
//Create raw

.raw-f
  @include layout
  width: 100%
  box-sizing: border-box
  padding: 0 5em
  float: left

.raw-w
  @include layout
  width: 100%
  float: left

.raw-separate
  float: left
  margin: 5px

@for $wid from 1 through 100
  .raw-#{$wid}
    @include layout
    width: 1% * $wid
    margin: 0 auto
    height: auto
    float: left

//
//Large Screen Device
@media screen and (max-device-width: 1000px)
  .raw-f
    @include layout
    @include center
    width: 100%
    float: left
    position: relative

