# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
css/unslider-dots.css
css/unslider.css
sass/slider.css
sass/slider.css.map
