@import "general"
@mixin btn
  margin: 1em 1em
  padding: 0.5em 2em
  cursor: pointer
  text-align: center
  min-width: 5em
  outline: none
  border-radius: 3px
  font-size: 1em
  display: inline-block
  border: 1px solid transparent
  transition: 200ms

button
  @include btn
  color: black
  background-color: #f1f1f1
button:hover
  background-color: #dedede

button:active
  background-color: #f1f1f1 * 0.8
.bl-btn
  @include btn
  color: white
  background: $default-light-blue
.bl-btn:hover
  background-color: #0066aa * 1.1
.bl-btn:active
  background-color: #0066aa
.bl-btn-alert
  @extend .bl-btn
  color: white
  background-color: $default-pink!important
.bl-btn-alert:hover
  background-color: $default-pink * 0.9!important
.bl-btn-alert:active
  background-color: $default-pink * 0.8!important



