pre code *{
  font-family: SFMono!important;
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -0.021em;
  background-color: #f9fafa!important;
  color: #333333;
  font-style: normal;
}
pre {
  background-color: #f9fafa!important;
  border:1px solid #e6e6e6!important;
  border-radius: 4px;
  width: 100%;
  padding: 1em;

}
pre code {
  width: 100%;
  height: inherit;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: SFMono!important;
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -0.021em;
  background-color: #f9fafa!important;
  color: #333333;
  font-style: normal;
}