$colorConfig: (
        dark-green: #006666,
        darker-green: #006666 * 0.6,
        dark-red: #ad2131,
        bg-blue: #eff7ff,
        light-blue: #0079d1,
        link-blue: #0070c9,
        light-grey: #666,
        dark-grey: #333333,
        border-grey: #888888,
        light-pink: #ff5252,
        bg-dark-grey: #f2f2f2,
        bg-grey: #f7f7f7,
        orig: #333333,
        white:white,
        selected-grey: #f8f8f8,
        yellow-gold: #fff38e
);
$colorScheme: (
        border: (
                left-bordered: 'border-left',
                right-bordered: 'border-right',
                top-bordered:'border-top',
                buttom-bordered:'border-buttom',
                round-bordered:'border',
        ),
        bg: (
                bg:'background-color',
        ),
        font: (
                font:'color',
        )


);
@each $groupName,$group in $colorScheme {
  @each $schemaName, $schemeValue in $group {
    .#{$schemaName}- {
      @each $colorName, $colorValue in $colorConfig {
        &color-#{$colorName} {
          @if($groupName == border) {
            #{$schemeValue}: 1px solid $colorValue !important;
          }@else{
            #{$schemeValue}: $colorValue !important;
          }
        }
        &color-#{$colorName} *{
          @if($groupName == font) {
            #{$schemeValue}: $colorValue !important;
          }
        }
      }
    }
  }
}
