@import "general";
em {
  color: $default-pink;
  background-color: $default-selected-grey;
  border-radius: 2px;
  font-family: SFMono;
}
strong {
  font-weight: 700;
}

p{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -0.021em;
}
p * {
  line-height: 1.52947;
}
