@import "general"
input
  margin: 10px 5px
  height: 40px
  line-height: 30px
  font-size: 20px
  padding: 0 10px
  color: black!important
  border-radius: 0!important
  background-color: #f1f1f1
  outline: none
  border: 1px solid transparent
span label
  color: black!important
  background-color: transparent!important
  transition: 200ms
input:hover
  background-color: #dedede

select
  @extend input
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  outline: none
  -webkit-user-select: none
  -moz-user-select: none
  min-width: 5em
  -ms-user-select: none
  user-select: none
  text-decoration: none
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
select:hover


.bl-checkbox 
  position: relative
  width: 250px
  border: 0
  color: black
  background-color: #f1f1f1


.bl-checkbox span:first-child

.bl-checkbox span 
  width: 94%
  position: relative
  min-width: 25%
  line-height: 33px
  font-size: 20px
  padding: 0 10px
  display: inline-block


.bl-checkbox span:last-child


.bl-checkbox input[type=checkbox]
  @extend input
  transition: 0.1s
  background-color: transparent
  outline: none
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  position: absolute
  top: 0
  margin: 0
  padding: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 2


.bl-checkbox input[type=checkbox]:hover
  border-left: 3px solid $default-light-grey
  padding-left: 3px
  background-color: #dedede


.bl-checkbox input[type=checkbox]:checked
  border-left: 2px solid $default-link-blue
  


.bl-checkbox input[type=checkbox]:hover + label
  padding-left: 3px
  background-color: #dedede



.bl-checkbox input[type=checkbox]:checked + label
  padding-left: 3px
  color: $default-light-grey



.bl-radiobox

  position: relative
  width: 250px
  color: black
  border: 0


.bl-radiobox span:first-child


.bl-radiobox span
  width: 94%
  position: relative
  min-width: 25%
  line-height: 33px
  font-size: 20px
  padding: 0 10px
  display: inline-block


.bl-radiobox span:last-child


.bl-radiobox input[type=radio]
  @extend input
  background-color: transparent
  outline: none
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  position: absolute
  top: 0
  margin: 0
  padding: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 2

.bl-radiobox input[type=radio]:hover 
  border-left: 2px solid $default-light-grey
  padding-left: 2px
  z-index: 5
  background-color: #dedede



.bl-radiobox input[type=radio]:checked 
  border-left: 2px solid $default-link-blue



.bl-radiobox input[type=radio]:hover + label 
  padding-left: 3px
  background-color: #dedede


.bl-radiobox input[type=radio]:checked + label 
  padding-left: 3px
  
