@import "general"
input
  height: 40px
  margin: 1em .5em

  line-height: 30px
  font-size: 20px
  padding: 0 10px
  background-color: #f1f1f1
  outline: none
  transition: 100ms
  border: 1px solid $default-selected-grey
  border-radius: 2px
@mixin innerInput
  margin: 0!important
  height: 40px
  line-height: 30px
  font-size: 20px
  padding: 0 10px
  background-color: #f1f1f1
  outline: none
  transition: 100ms
  border: 1px solid $default-selected-grey
  border-radius: 2px

span label
  color: black!important
  background-color: transparent!important
  transition: 100ms
input:hover
  background-color: #dedede

select
  @extend input
  margin: 1em .5em
  border-radius: 0!important
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  outline: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  text-decoration: none
  white-space: nowrap
  vertical-align: middle
  cursor: pointer


.bl-checkbox
  margin: 1em .5em
  position: relative
  border: 0
  color: black
  background-color: #f1f1f1


.bl-checkbox span:first-child

.bl-checkbox span 
  width: 100%
  position: relative
  line-height: 34px
  font-size: 20px
  padding: 0 10px
  display: inline-block


.bl-checkbox label
  z-index: 5
.bl-radiobox label
  z-index: 5

.bl-checkbox input[type=checkbox]
  @include innerInput
  background-color: transparent
  outline: none
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  position: absolute
  top: 0
  padding: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 2


.bl-checkbox input[type=checkbox]:hover
  border-left: 4px solid $default-light-grey
  padding-left: 4px
  background-color: #dedede


.bl-checkbox input[type=checkbox]:checked
  border-left: 3px solid $default-link-blue
  


.bl-checkbox input[type=checkbox]:hover + label
  padding-left: 4px
  background-color: #dedede



.bl-checkbox input[type=checkbox]:checked + label
  padding-left: 4px
  color: $default-light-grey



.bl-radiobox
  overflow: hidden
  box-sizing: border-box
  position: relative
  color: black
  margin: 1em .5em
  border: 0




.bl-radiobox span
  width: 100%
  position: relative
  line-height: 34px
  font-size: 20px
  padding: 0 10px
  display: inline-block




.bl-radiobox input[type=radio]
  @include innerInput
  outline: none
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  position: absolute
  top: 0
  margin: 0
  padding: 0
  left: 0
  height: 100%
  width: 100%

.bl-radiobox input[type=radio]:hover 
  border-left: 3px solid $default-light-grey
  padding-left: 3px
  background-color: #dedede



.bl-radiobox input[type=radio]:checked 
  border-left: 3px solid $default-link-blue



.bl-radiobox input[type=radio]:hover + label 
  padding-left: 4px
  background-color: #dedede


.bl-radiobox input[type=radio]:checked + label 
  padding-left: 4px
  
