@import "general"
.bl-nav
  text-align: center
  line-height: 50px
.bl-nav *
  transition: 200ms
  color: rgba(255,255,255,0.80)
  text-decoration: none
.bl-nav li *
  font-size: 1em
.bl-nav li
  transition: 100ms
  margin-right: 1.6em
  line-height: 100%
  cursor: pointer
.bl-nav li:hover>a
  color: white
.bl-nav li:hover>i
  color: white
.bl-nav li:hover
  color: white

.bl-nav li ul
  padding: .5em 0
  box-sizing: border-box
  border: 1px solid $default-light-grey
  border-radius: 5px
.bl-nav li ul *
  text-align: left!important
  text-decoration: none
  color: black
  margin: 0 auto
  font-size: 1em
  line-height: 2em
  padding: 0 1em

.bl-nav li ul li:hover
  border-radius: 2px
  background-color: $default-selected-grey
  color: black
.bl-nav li ul li:hover *
  color: black
.default-nav *
  color: rgba(255,255,255,0.80)
.default-nav
  height: 3em
  background-color: $default-green
.default-nav h1
  font-size: 1.5em
  line-height: 100%
.bl-nav-active
  background-color: white
  border: 1px solid $default-light-grey
  border-top: none
