.bl-notification-normal
  position: relative
  height: 70px
  background-color: $default-green
  color: white
  width: 100%
.bl-notification-normal p
  text-align: center
  font-size: 20px
  width: 70%
  line-height: 70px
  display: inline
.bl-notification-alert
  position: relative
  height: 70px
  color: white
  width: 100%
  background-color: $default-pink
.bl-notification-alert p
  text-align: center
  font-size: 20px
  width: 70%
  line-height: 70px
  display: inline
