@import "general"
//
.bl-sidebar a
  transition: 0.1s
  border-left: 4px solid transparent
  padding-left: 11px
  font-size: 15px
  cursor: pointer
  color: $default-dark-grey

.bl-sidebar a:hover
  background-color: $default-selected-gery
.bl-sidebar-active
  border-left: 4px solid $default-blue!important
  color: $default-blue!important
  background-color: $default-selected-gery
