@import "general";
.section.bg-color-bg-dark-grey {
  @for $i from 1 through 5{
    h#{$i}{
      font-weight: 700;
      color: $default-dark-grey;
    }
    h#{$i} *{
      font-weight: 700;
      color: $default-dark-grey;
    }
  }
}
.section.bg-color-dark-green {
  @for $i from 1 through 5{
    h#{$i}{
      font-weight: 700;
      color: $default-yellow-gold;
    }
    h#{$i} *{
      font-weight: 700;
      color: $default-yellow-gold;
    }
    p {
      color: white;
    }
  }
}
