@import "general"
//
.bl-sidebar a
  transition: 200ms
  line-height: 3em!important
  border-left: 1px solid transparent
  padding-left: 11px
  font-size: 15px
  cursor: pointer
  color: $default-light-grey

.bl-sidebar a:hover
  background-color: $default-selected-grey

.bl-sidebar-active
  transition: 200ms
  border-left: 2px solid $default-orig!important
  color: black!important
  background-color: $default-selected-grey
