body {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectable {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
@font-face {
  src: url("../fonts/MyriadProLight.woff");
  font-family: MyraidProLight; }
@font-face {
  src: url("../fonts/quickstandLight.woff2");
  font-family: quickstandLight; }
@font-face {
  src: url("../fonts/sf-pro-text_regular.woff");
  font-family: SFPro; }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #006699;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: SFPro, quickstandLight, "PingFang SC", "Microsoft yahei light", "Microsoft yahei";
  font-size: 1em;
  line-height: 3em;
  font-weight: 400;
  margin: 0;
  padding: 0; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

i {
  font-family: FontAwesome !important; }

body {
  background-color: #fafbfc; }

h2 {
  font-size: 40px;
  line-height: 80px;
  color: #6a737d; }

h3 {
  font-size: 35px;
  line-height: 40px; }

h4 {
  font-size: 30px;
  line-height: 40px; }

h5 {
  font-size: 25px;
  line-height: 40px; }

.tiny {
  font-size: 15px !important;
  line-height: 20px !important;
  height: 30px !important; }

.lg {
  font-size: 30px !important;
  line-height: 40px !important;
  height: 60px !important; }

.lg-plus {
  font-size: 40px !important;
  line-height: 50px !important;
  height: 80px !important; }

button {
  margin: 10px 5px;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  outline: none;
  border-radius: 3px;
  height: 40px;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid transparent;
  transition: 200ms;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  color: black;
  background-color: white;
  padding: 5px 15px;
  height: 42px !important; }

button:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.1); }

button:active {
  background-color: #f8f8f8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.bl-btn, .bl-btn-alert {
  margin: 10px 5px;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  outline: none;
  border-radius: 3px;
  height: 40px;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid transparent;
  transition: 200ms;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 0 15px !important;
  line-height: 40px !important;
  background: #0079d1;
  color: #fff; }

.bl-btn:hover, .bl-btn-alert:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.1); }

.bl-btn:active, .bl-btn-alert:active {
  background-color: #0066aa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.bl-btn-alert {
  background-color: #ff5252 !important; }

/*# sourceMappingURL=bl-button.css.map */
