body {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectable {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
@font-face {
  src: url("../fonts/MyriadProLight.woff");
  font-family: MyraidProLight; }
@font-face {
  src: url("../fonts/quickstandLight.woff2");
  font-family: quickstandLight; }
@font-face {
  src: url("../fonts/sf-pro-text_regular.woff");
  font-family: SFPro; }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #006699;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: SFPro, quickstandLight, "PingFang SC", "Microsoft yahei light", "Microsoft yahei";
  font-size: 1em;
  line-height: 3em;
  font-weight: 400;
  margin: 0;
  padding: 0; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

i {
  font-family: FontAwesome !important; }

body {
  background-color: #fafbfc; }

h2 {
  font-size: 40px;
  line-height: 80px;
  color: #6a737d; }

h3 {
  font-size: 35px;
  line-height: 40px; }

h4 {
  font-size: 30px;
  line-height: 40px; }

h5 {
  font-size: 25px;
  line-height: 40px; }

.tiny {
  font-size: 15px !important;
  line-height: 20px !important;
  height: 30px !important; }

.lg {
  font-size: 30px !important;
  line-height: 40px !important;
  height: 60px !important; }

.lg-plus {
  font-size: 40px !important;
  line-height: 50px !important;
  height: 80px !important; }

input, select, .bl-checkbox input[type=checkbox], .bl-radiobox input[type=radio] {
  margin: 10px 5px;
  height: 40px;
  line-height: 30px;
  border-radius: 3px;
  font-size: 20px;
  padding: 0 10px;
  background-color: #fff;
  outline: none;
  border: 1px solid transparent;
  color: #444;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

span label {
  color: black;
  transition: 100ms; }

input:hover, select:hover, .bl-checkbox input[type=checkbox]:hover, .bl-radiobox input[type=radio]:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.1); }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; }

select:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.1); }

.bl-checkbox {
  position: relative;
  width: 250px;
  color: black;
  border: 0; }

.bl-checkbox span:first-child {
  border-radius: 5px 5px 0 0; }

.bl-checkbox span {
  width: 94%;
  position: relative;
  min-width: 25%;
  line-height: 38px;
  font-size: 20px;
  padding: 0 10px;
  display: inline-block; }

.bl-checkbox span:last-child {
  border-radius: 0 0 5px 5px !important; }

.bl-checkbox select[type=checkbox], .bl-checkbox input[type=checkbox] {
  transition: 0.1s;
  background-color: transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2; }

.bl-checkbox select[type=checkbox]:hover, .bl-checkbox input[type=checkbox]:hover {
  border-left: 8px solid #bebebe;
  padding-left: 8px; }

.bl-checkbox select[type=checkbox]:checked, .bl-checkbox input[type=checkbox]:checked {
  border-left: 4px solid #05c679; }

.bl-checkbox select[type=checkbox]:hover + label, .bl-checkbox input[type=checkbox]:hover + label, .bl-checkbox .bl-radiobox input[type=checkbox][type=radio]:hover + label {
  padding-left: 8px; }

.bl-checkbox select[type=checkbox]:checked + label, .bl-checkbox input[type=checkbox]:checked + label, .bl-checkbox .bl-radiobox input[type=checkbox][type=radio]:checked + label {
  padding-left: 8px;
  color: #bebebe; }

.bl-radiobox {
  position: relative;
  width: 250px;
  color: black;
  border: 0; }

.bl-radiobox span:first-child {
  border-radius: 5px 5px 0 0; }

.bl-radiobox span {
  width: 94%;
  position: relative;
  min-width: 25%;
  line-height: 38px;
  font-size: 20px;
  padding: 0 10px;
  display: inline-block; }

.bl-radiobox span:last-child {
  border-radius: 0 0 5px 5px !important; }

.bl-radiobox select[type=radio], .bl-radiobox input[type=radio] {
  background-color: transparent;
  transition: 0.1s;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2; }

.bl-radiobox select[type=radio]:hover, .bl-radiobox input[type=radio]:hover {
  border-left: 8px solid #bebebe;
  padding-left: 8px;
  z-index: 5; }

.bl-radiobox select[type=radio]:checked, .bl-radiobox input[type=radio]:checked {
  border-left: 4px solid #05c679; }

.bl-radiobox select[type=radio]:hover + label, .bl-radiobox .bl-checkbox input[type=radio][type=checkbox]:hover + label, .bl-radiobox input[type=radio]:hover + label {
  padding-left: 8px; }

.bl-radiobox select[type=radio]:checked + label, .bl-radiobox .bl-checkbox input[type=radio][type=checkbox]:checked + label, .bl-radiobox input[type=radio]:checked + label {
  padding-left: 8px;
  color: #bebebe; }

/*# sourceMappingURL=bl-input.css.map */
