/*
Sass::SyntaxError: ".bl-pop-view" failed to @extend ".bl-view".
The selector ".bl-view" was not found.
Use "@extend .bl-view !optional" if the extend should be able to fail.


Backtrace:
bl-pop-view.sass:10
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/extend.rb:56:in `block in check_extends_fired!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/util/subset_map.rb:105:in `block in each_value'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/util/subset_map.rb:105:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/util/subset_map.rb:105:in `each_value'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/root_node.rb:39:in `css_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".bl-pop-view\" failed to @extend \".bl-view\".\A The selector \".bl-view\" was not found.\A Use \"@extend .bl-view !optional\" if the extend should be able to fail.\A "; }
