body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

input, select, .bl-checkbox input[type=checkbox], .bl-radiobox input[type=radio] {
  margin: 10px 5px;
  height: 40px;
  line-height: 30px;
  font-size: 20px;
  padding: 0 10px;
  color: black !important;
  border-radius: 0 !important;
  background-color: #f1f1f1;
  outline: none;
  border: 1px solid transparent; }

span label {
  color: black !important;
  background-color: transparent !important;
  transition: 200ms; }

input:hover, select:hover, .bl-checkbox input[type=checkbox]:hover, .bl-radiobox input[type=radio]:hover {
  background-color: #dedede; }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  min-width: 5em;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; }

.bl-checkbox {
  position: relative;
  width: 250px;
  border: 0;
  color: black;
  background-color: #f1f1f1; }

.bl-checkbox span {
  width: 94%;
  position: relative;
  min-width: 25%;
  line-height: 33px;
  font-size: 20px;
  padding: 0 10px;
  display: inline-block; }

.bl-checkbox select[type=checkbox], .bl-checkbox input[type=checkbox] {
  transition: 0.1s;
  background-color: transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2; }

.bl-checkbox select[type=checkbox]:hover, .bl-checkbox input[type=checkbox]:hover {
  border-left: 3px solid #666;
  padding-left: 3px;
  background-color: #dedede; }

.bl-checkbox select[type=checkbox]:checked, .bl-checkbox input[type=checkbox]:checked {
  border-left: 2px solid #0070c9; }

.bl-checkbox select[type=checkbox]:hover + label, .bl-checkbox input[type=checkbox]:hover + label, .bl-checkbox .bl-radiobox input[type=checkbox][type=radio]:hover + label {
  padding-left: 3px;
  background-color: #dedede; }

.bl-checkbox select[type=checkbox]:checked + label, .bl-checkbox input[type=checkbox]:checked + label, .bl-checkbox .bl-radiobox input[type=checkbox][type=radio]:checked + label {
  padding-left: 3px;
  color: #666; }

.bl-radiobox {
  position: relative;
  width: 250px;
  color: black;
  border: 0; }

.bl-radiobox span {
  width: 94%;
  position: relative;
  min-width: 25%;
  line-height: 33px;
  font-size: 20px;
  padding: 0 10px;
  display: inline-block; }

.bl-radiobox select[type=radio], .bl-radiobox input[type=radio] {
  background-color: transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2; }

.bl-radiobox select[type=radio]:hover, .bl-radiobox input[type=radio]:hover {
  border-left: 2px solid #666;
  padding-left: 2px;
  z-index: 5;
  background-color: #dedede; }

.bl-radiobox select[type=radio]:checked, .bl-radiobox input[type=radio]:checked {
  border-left: 2px solid #0070c9; }

.bl-radiobox select[type=radio]:hover + label, .bl-radiobox .bl-checkbox input[type=radio][type=checkbox]:hover + label, .bl-radiobox input[type=radio]:hover + label {
  padding-left: 3px;
  background-color: #dedede; }

.bl-radiobox select[type=radio]:checked + label, .bl-radiobox .bl-checkbox input[type=radio][type=checkbox]:checked + label, .bl-radiobox input[type=radio]:checked + label {
  padding-left: 3px; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

button {
  margin: 1em 1em;
  padding: 0.5em 2em;
  cursor: pointer;
  text-align: center;
  min-width: 5em;
  outline: none;
  border-radius: 3px;
  font-size: 1em;
  display: inline-block;
  border: 1px solid transparent;
  transition: 200ms;
  color: black;
  background-color: #f1f1f1; }

button:hover {
  background-color: #dedede; }

button:active {
  background-color: #c1c1c1; }

.bl-btn, .bl-btn-alert {
  margin: 1em 1em;
  padding: 0.5em 2em;
  cursor: pointer;
  text-align: center;
  min-width: 5em;
  outline: none;
  border-radius: 3px;
  font-size: 1em;
  display: inline-block;
  border: 1px solid transparent;
  transition: 200ms;
  color: white;
  background: #0079d1; }

.bl-btn:hover, .bl-btn-alert:hover {
  background-color: #0070bb; }

.bl-btn:active, .bl-btn-alert:active {
  background-color: #0066aa; }

.bl-btn-alert {
  color: white;
  background-color: #ff5252 !important; }

.bl-btn-alert:hover {
  background-color: #e64a4a !important; }

.bl-btn-alert:active {
  background-color: #cc4242 !important; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-nav {
  text-align: center;
  line-height: 50px; }

.bl-nav * {
  transition: 200ms;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.bl-nav li * {
  font-size: 1em;
  font-weight: 700; }

.bl-nav li {
  transition: 100ms;
  margin-right: 1.6em;
  line-height: 50px;
  cursor: pointer; }

.bl-nav li:hover > a {
  color: white; }

.bl-nav li:hover > i {
  color: white; }

.bl-nav li:hover {
  color: white; }

.bl-nav li ul * {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  padding: 2px 10px; }

.bl-nav li ul li:hover {
  border-radius: 2px;
  background-color: #f5f5f5;
  color: black; }

.bl-nav li ul li:hover * {
  color: black; }

.default-nav * {
  color: rgba(255, 255, 255, 0.8); }

.default-nav {
  height: 50px;
  background-color: #006666; }

.default-nav h1 {
  font-size: 25px;
  line-height: 50px; }

.bl-nav-active {
  background-color: white;
  padding: 5px 5px;
  border: 1px solid #dddddd;
  border-top: none; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-markdown.bl-view-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 15px 3%;
  width: 94%;
  color: #333333; }

.bl-markdown * {
  position: relative; }

.bl-markdown.bl-view-body h2 {
  font-size: 40px; }

.bl-markdown.bl-view-body h3 {
  padding-left: 5px;
  font-size: 30px; }

.bl-markdown.bl-view-body h4 {
  padding-left: 7px;
  font-size: 25px; }

.bl-markdown.bl-view-body h5 {
  font-size: 16px;
  padding-left: 9px; }

.bl-markdown.bl-view-body em {
  font-size: 18px;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 3px !important;
  margin: 0 2px;
  font-style: normal;
  color: #333333;
  flex-wrap: wrap; }

.bl-markdown.bl-view-body pre code * {
  font-size: 13px;
  line-height: 17px;
  font-family: "SF Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace !important; }

.bl-markdown.bl-view-body pre code {
  line-height: 17px;
  font-size: 13px;
  font-family: "SF Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace !important; }

.bl-markdown .bl-view-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 15px 3%;
  width: 94%;
  color: #333333; }

.bl-markdown * {
  position: relative; }

.bl-markdown .bl-view-body h2 {
  font-size: 40px; }

.bl-markdown .bl-view-body h3 {
  padding-left: 5px;
  font-size: 30px; }

.bl-markdown .bl-view-body h4 {
  padding-left: 7px;
  font-size: 25px; }

.bl-markdown .bl-view-body h5 {
  font-size: 16px;
  padding-left: 9px; }

.bl-markdown .bl-view-body em {
  font-size: 18px;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 3px !important;
  margin: 0 2px;
  font-style: normal;
  color: #333333;
  flex-wrap: wrap; }

.bl-markdown .bl-view-body pre code * {
  font-size: 13px;
  line-height: 17px;
  font-family: "SF Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace !important; }

.bl-markdown .bl-view-body pre code {
  line-height: 17px;
  font-size: 13px;
  font-family: "SF Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace !important; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-sidebar a {
  transition: 200ms;
  line-height: 3em !important;
  border-left: 1px solid transparent;
  padding-left: 11px;
  font-size: 15px;
  cursor: pointer;
  color: #666; }

.bl-sidebar a:hover {
  background-color: #f8f8f8; }

.bl-sidebar-active {
  transition: 200ms;
  border-left: 2px solid #333333 !important;
  color: black !important;
  background-color: #f8f8f8; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.default-subnav h2 {
  display: block;
  font-size: 30px;
  line-height: 50px; }

.default-subnav {
  background-color: white;
  height: 50px;
  box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.35); }

.default-subnav .bl-nav * {
  color: #333333;
  font-size: 14px; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-tab-view .bl-view-header {
  padding: 0;
  height: 50px; }

.bl-tab-view .bl-view-header ul {
  line-height: 40px; }

.bl-tab-view .bl-view-header ul li {
  transition: 200ms;
  line-height: 40px;
  color: #666;
  background-color: white;
  border-top: 1px solid transparent; }

.bl-tab-view ul li:hover {
  background-color: #f8f8f8; }

.bl-tab-view-active {
  position: relative;
  border-top: 2px solid #333333 !important;
  color: #333333;
  background-color: white !important;
  transition: 0.3s; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-view, .bl-tab-view, .bl-pop-view {
  background-color: white;
  margin: 3px; }

.bl-view-header {
  line-height: 3em;
  padding-left: 1%;
  position: relative;
  font-size: 1em;
  display: block;
  color: #999; }

.bl-view-body {
  margin: 0;
  transition: 200ms;
  min-height: 20em; }

.bl-view-footer {
  padding-left: 1%;
  line-height: 3em;
  font-size: 1em;
  color: #999; }

.shadowed {
  box-shadow: 0 2px 5px 0 rgba(140, 144, 155, 0.15) !important; }

.fusion {
  background-color: transparent !important;
  border: none !important; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-notification-normal {
  position: relative;
  height: 3em;
  background-color: #333333;
  width: 100%; }

.bl-notification-normal p {
  text-align: center;
  font-size: 1em;
  width: 70%;
  line-height: 3em;
  color: white;
  display: inline; }

.bl-notification-alert {
  position: relative;
  height: 3em;
  width: 100%;
  background-color: #ad2131; }

.bl-notification-alert p {
  text-align: center;
  font-size: 1em;
  color: white;
  width: 70%;
  line-height: 3em;
  display: inline; }

.bl-notification-hide-button {
  position: absolute;
  top: 0;
  right: 40px;
  padding: 0 1em;
  line-height: 2.99em;
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: 0.2s;
  color: white; }

.bl-notification-hide-button:hover {
  opacity: 0.6; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto; }

caption {
  text-align: left;
  font-weight: 600 !important;
  font-size: 16px;
  margin: 1em auto; }

th, td {
  text-align: left;
  padding: 0.1em;
  padding-left: 0.5em; }

tbody tr {
  background: white;
  color: black; }

thead {
  color: #0070c9; }

th {
  text-align: center; }

tbody tr:hover {
  transition: 100ms;
  background-color: #eff7ff; }

tbody tr:nth-child(odd) {
  background: #f8f8f8; }

tbody tr:nth-child(odd):hover {
  transition: 100ms;
  background-color: #eff7ff; }

body {
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "SFMono";
  font-weight: 200;
  src: url("../fonts/sf-mono_regular.woff"); }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #666;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

* {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black; }

body {
  background-color: #f2f2f2; }

*::selection {
  background: #e6e6e6;
  color: #1589c9; }

*::-moz-selection {
  background: #e6e6e6;
  color: #1589c9; }

h1 {
  font-size: 4em;
  line-height: 3.5em; }

h2 {
  font-size: 2em;
  line-height: 2.5em; }

h3 {
  font-size: 1.5em;
  line-height: 2em; }

h4 {
  font-size: 1.5em;
  line-height: 2em;
  color: #333333; }

h5 {
  font-size: 1.2em;
  line-height: 1.5em; }

.tiny {
  font-size: 1em !important;
  line-height: 1em !important;
  height: 1em !important; }

.lg {
  font-size: 2em !important;
  line-height: 2em !important;
  height: 3em !important; }

.lg-plus {
  font-size: 2em !important;
  line-height: 3em !important;
  height: 4em !important; }

.bl-pop-view-bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.5; }

.bl-pop-view {
  box-shadow: 0 2px 5px 0 rgba(140, 144, 155, 0.15);
  display: none;
  border-radius: 2px #888888;
  width: 640px;
  height: auto;
  position: relative;
  margin: 240px auto;
  background-color: white; }

.bl-color-green {
  color: #006666; }

.bl-color-bg-dark-green {
  background-color: #003d3d; }

.bl-color-light-grey {
  color: #666; }

.bl-color-white {
  color: white; }

.bl-color-yellow-gold {
  color: #fff38e; }

.bl-color-bg-light-grey {
  background-color: #666; }

/*# sourceMappingURL=default-theme.css.map */
